/** @type {import('@maizzle/framework').Config} */
export default {
  build: {
    output: {
      path: "../priv/emails",
    },
    content: ["emails/**/*.html"],
    static: [],
  },
  css: {
    inline: {
      resolveCSSVariables: false,
      codeBlocks: {
        EJS: { start: ["<", "%"].join(""), end: ["%", ">"].join("") },
        HBS: { start: "{{", end: "}}" },
        EEx: { start: ["<", "%="].join(""), end: ["%", ">"].join("") },
      },
    },
    purge: {
      safelist: [
        "*primary-*",
        "*secondary-*",
        "*accent-*",
        "*info-*",
        "*success-*",
        "*warning-*",
        "*error-*",
        "*content-*",
        "*hover*",
        "*focus*",
        "*active*",
        "*screen*",
      ],
    },
    shorthand: true,
    prettify: false,
    minify: true,
  },
  prettify: false,
}
