{
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "maizzle serve --port 3000",
    "build:dev": "maizzle build development",
    "build": "maizzle build production"
  },
  "dependencies": {
    "@maizzle/framework": "^5.5.0",
    "tailwindcss-preset-email": "latest"
  }
}
