@theme {
  --color-primary-50: #f9f4f1;
  --color-primary-100: #f1e2dc;
  --color-primary-200: #e4c1b1;
  --color-primary-300: #d39a80;
  --color-primary-400: #bf6f55;
  --color-primary-500: #a75035;
  --color-primary-600: #96432c;
  --color-primary-700: #7d311e;
  --color-primary-800: #632213;
  --color-primary-900: #4a150a;
  --color-primary-950: #300b04;
}
